.experience {
    padding: 100px 0;
}

.experience-list {
    max-width: 800px;
    margin: 0 auto;
}

.job-item {
    background-color: var(--bg-secondary);
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    border-left: 3px solid transparent;

    &:hover {
        background-color: #252525;
    }

    &.active {
        border-left-color: var(--accent-color);

        .job-header {

            h3,
            .date {
                color: var(--accent-color);
            }
        }
    }
}

.job-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        font-size: 1.2rem;
        font-weight: 600;

        .company {
            color: var(--accent-color);
        }
    }

    .date {
        font-family: var(--font-code);
        font-size: 0.9rem;
        color: var(--text-secondary);
    }

    .icon {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--text-secondary);
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        .icon {
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }
}

.job-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    padding: 0 20px;

    ul {
        padding-bottom: 20px;
        padding-left: 20px;

        li {
            margin-bottom: 10px;
            list-style-type: disc;
            color: var(--text-secondary);
            line-height: 1.6;

            &::marker {
                color: var(--accent-color);
            }
        }
    }
}